.compilacion{
    -fx-fill: #3a57ff;
    -fx-font-weight: bold;
}
.error{
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-underline: true;
}
.cadena{
    -fx-fill: green;
    -fx-font-weight: bold;
}
.palabraReservada {
    -fx-fill: blue; /* Resalta palabras clave en rojo */
    -fx-font-weight: bold;
}

.comentario {
    -fx-fill: green; /* Resalta comentarios en verde */
}
.default {
    -fx-fill: black; /* Normal para el resto del texto */
}

.identificador{
    -fx-fill: #f940ff;
    -fx-font-weight: bold;
}

.iniciofin{
    -fx-fill: #dfd500;
    -fx-font-weight: bold;
}